{% extends "main.html" %}
{% block title %}Operations{% endblock %}

{% block content %}
Today : {{ today|date:"H:i:s d M Y" }}<br>

{% if user.is_authenticated %}

    Your card number : {{ user.number }}<br>
    Your balance : {{ user.balance }}<br>
    Your last login : {{ user.last_login|date:"H:i:s d M Y" }}<br>
    <a href="{{ request.META.HTTP_REFERER }}"><button type="button" class="btn btn-default btn-lg btn-block">Back</button><br>
    <a href="/logout/"><button type="button" class="btn btn-default btn-lg btn-block">Logout</button><br>
{% else %}
    <a href="/login/?next={{ request.path }}">Login</a>
{% endif %}

{% endblock %}


