{% extends "main.html" %}
{% load static %}
{% block title %}test{% endblock %}
{% block content %}

{% block additional_js %}
<script src={% static "js/login.js" %}></script>
{% endblock %}

<form id="1" class="form-horizontal" action="{% url 'check' %}" method="get">
<div class="m-bt-lg text-center">
    <input name="{{ form.number.html_name }}" id="number" class="numbox m-bt-md" placeholder="Card number" readonly />
    <div class="numpad">
        <div class="numpad-row">
            <input class="btn btn-lg btn-default" type="button" value="1" onclick="input(this);">
            <input class="btn btn-lg btn-default" type="button" value="2" onclick="input(this);">
            <input class="btn btn-lg btn-default" type="button" value="3" onclick="input(this);">
        </div>
        <div class="numpad-row">
            <input class="btn btn-lg btn-default" type="button" value="4" onclick="input(this);">
            <input class="btn btn-lg btn-default" type="button" value="5" onclick="input(this);">
            <input class="btn btn-lg btn-default" type="button" value="6" onclick="input(this);">
        </div>
        <div class="numpad-row">
            <input class="btn btn-lg btn-default" type="button" value="7" onclick="input(this);">
            <input class="btn btn-lg btn-default" type="button" value="8" onclick="input(this);">
            <input class="btn btn-lg btn-default" type="button" value="9" onclick="input(this);">
        </div>
        <div class="numpad-row">
            <input class="btn btn-lg btn-default" type="button" value="C" title="Cancel" onclick="$('#1 #number').val('')">
            <input class="btn btn-lg btn-default" type="button" value="0" onclick="input(this);">
            <input class="btn btn-lg btn-default" type="submit" value=">" title="Submit">
        </div>
    </div>
</div>
</form>

<form id="2" style="display:none" class="form-horizontal" action="{% url 'auth' %}" method="post">{% csrf_token %}
<div class="m-bt-lg text-center">
    <input name="{{ form.password.html_name }}" id="pin" type="password" class="numbox m-bt-md"  placeholder="Pin code" readonly />
    <div class="numpad">
        <div class="numpad-row">
            <input class="btn btn-lg btn-default" type="button" value="1" onclick="input_pin(this);">
            <input class="btn btn-lg btn-default" type="button" value="2" onclick="input_pin(this);">
            <input class="btn btn-lg btn-default" type="button" value="3" onclick="input_pin(this);">
        </div>
        <div class="numpad-row">
            <input class="btn btn-lg btn-default" type="button" value="4" onclick="input_pin(this);">
            <input class="btn btn-lg btn-default" type="button" value="5" onclick="input_pin(this);">
            <input class="btn btn-lg btn-default" type="button" value="6" onclick="input_pin(this);">
        </div>
        <div class="numpad-row">
            <input class="btn btn-lg btn-default" type="button" value="7" onclick="input_pin(this);">
            <input class="btn btn-lg btn-default" type="button" value="8" onclick="input_pin(this);">
            <input class="btn btn-lg btn-default" type="button" value="9" onclick="input_pin(this);">
        </div>
        <div class="numpad-row">
            <input class="btn btn-lg btn-default" type="button" value="C" title="Cancel" onclick="$('#pin').val('')">
            <input class="btn btn-lg btn-default" type="button" value="0" onclick="input_pin(this);">
            <input class="btn btn-lg btn-default" type="submit" value=">" title="Submit">
        </div>
    </div>
</div>
</form>
{% endblock %}